.container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
body {
  background-position: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
header > h1 {
  font-size: 60px;
  display: flex;
  gap: 5px;
}

.caixa_carro {
  cursor: pointer;
  cursor: grab;
}

.caixa_carro:active {
  cursor: grabbing;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e5e5e5;
  height: 665px;
  border-radius: 4px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.8);
}

.pagina_inicio {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.pagina_inicio > img {
    width: 100%;
    height: 100%;
}

.pagina_jogo {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  background-image: url(../assets/jogo.png);
  background-position: center;
  background-size: cover;
}
.box_instrucoes {
  width: 250px;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: white;
}
.box_instrucoes > img {
  width: 100%;
}
.parte_jogo {
  width: 900px;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
  flex-direction: row;
}

#botao_inicio {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px 15px;
}
#botao_jogar {
  position: absolute;
  padding: 10px 40px;
  bottom: 5px;
  right: 310px;
}
#botao_reiniciar {
  position: absolute;
  bottom: 150px;
  left: 550px;
}

.pagina_escondida {
  display: none;
}

.caixa_carro {
  position: absolute;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.caixa_carro > img {
    width: fit-content;
    height: 100px;
}

.box_estacionamento {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 50px;
}

.estac {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  padding: 30px;
  flex-wrap: wrap;
}

.estac > img {
  position: static;
  width: 40px;
  height: 30px;
  background-size: 200%;
  background-position: center;
}
.pagina_final {
  background-image: url(../assets/fim.png);
  background-size: 100%;
  width: 100%;
  height: 100%;
  background-position: left;
}

.dragging {
  opacity: 0.5;
}

#carro_1 {
  background-color: aquamarine;
}

.estac-terrestre {
  background-image: url(../assets/terrestre.png);
  background-position: 45% 48%;
  background-size: 740px;
}
.estac-aquatico {
    background-image: url(../assets/aquatico.png);
    background-position: 55.5% 57%;
    background-size: 715px;
}
.estac-voador {
    background-image: url(../assets/voador.png);
  background-position: 47% 41.5%;
  background-size: 740px;
}
